{% extends "base.html" %}

{% block content %}
<h1>Top management</h1>
<div class="container">
    <div class="row">
        {% for manager in top_management %}
        <div class="column">
            <h2>{{ manager }} </h2>
            <ul>
                {% for subordinate in manager.subordinates.all %}
                <li><a href="#" class="subordinates-link"
                       data-employee-id="{{ subordinate.id }}">
                    {{ subordinate.first_name }} {{ subordinate.last_name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
