<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Management</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <script src="{% static 'js/main.js' %}"></script>

</head>
<body>
<h3><p><a href="{% url 'index' %}"> Main </a></p>
    <p><a href="{% url 'top_management' %}">Top management </a></p>
    <p><a href="{% url 'employee_list' %}">Employees list</a></p></h3>

<p>{% if user.is_authenticated %}
     <li>User: {{ user.get_username }}</li>
     <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
   {% else %}
     <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
   {% endif %}</p>

{% block content %}

{% endblock %}

{% block pagination %}
{% if is_paginated %}
<div class="pagination">
      <span class="page-links">
        {% if page_obj.has_previous %}
          <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
          <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
      </span>
</div>
{% endif %}
{% endblock %}
</body>
</html>
